<body class="app_body">
  <div class="header">
    <div class="innerHeader">
      <div class="logo_container">
        <a href="#" class="logo">MYE030APP</a>
      </div>

      <ul class="navigation">
        <a href="#" routerLink="/barchart"><li>Bar Chart</li></a>
        <a href="#" routerLink="/linechart"><li>Line Chart</li></a>
        <a href="#" routerLink="/scatterplotchart"><li>Scatter Plot</li></a>
      </ul>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
