<div id="container">
  <div id="boxes">
    <h3>MySQL</h3>
    <br />
    <p>
      MySQL is an open-source relational database management system (RDBMS) and
      we use it for organized storage of our data in tables and fetching the
      results of specific queries.
    </p>
  </div>
  <div id="boxes">
    <h3>Python</h3>
    <br />
    <p>
      Python is an interpreted, high-level, general-purpose programming
      language. We use Python scripts for the creation of the desired format of
      our csv files and the filling of our database.
    </p>
  </div>
  <div id="boxes">
    <h3>Node.js / Angular</h3>
    <br />
    <p>
      We use Node.js for the creation of the API middleman between frontend and
      backend. Angular is a TypeScript-based open-source web application
      framework led by the Angular Team at Google and by a community of
      individuals and corporations.
    </p>
  </div>
  <div id="boxes">
    <h3>D3.js</h3>
    <br />
    <p>
      D3.js (also known as D3, short for Data-Driven Documents) is a JavaScript
      library for producing dynamic, interactive data visualizations in web
      browsers. It makes use of Scalable Vector Graphics (SVG), HTML5, and CSS
      standards.
    </p>
  </div>
</div>
